PORT=4000
JWT_SECRET=replace_me_with_a_long_secret
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:8081
BASE_URL=http://localhost:4000

#mongodb
MONGO_URI=your_mongodb_uri_here
MONGO_DB_NAME=fit-ai

#openai
OPENROUTER_API_KEY=sk-your-openrouter-api-key-here
OPENROUTER_MODEL=open-air/gpt-oss-120b:free

#pexels
PEXELS_API_KEY=your_pexels_api_key_here